<% provide(:title, "Batches") %>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/products">Product Name (ID)</a>
  <span class="breadcrumb-item active">Batches</span>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-3">Batch ID</th>
      <th class="col-xs-3">Initial Quantity</th>
      <th class="col-xs-3">Current Quantity</th>
      <th class="col-xs-3">Expiry Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">001246</th>
      <td>30</td>
      <td>12</td>
      <td>27 Sep 2017</td>
    </tr>
    <tr>
      <th scope="row">001247</th>
      <td>45</td>
      <td>37</td>
      <td>1 Oct 2017</td>
    </tr>
    <tr>
      <th scope="row">001246</th>
      <td>24</td>
      <td>23</td>
      <td>5 Oct 2017</td>
    </tr>
  </tbody>
</table>