<% provide(:title, "Products") %>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name of Product</h5>
      <span class="badge badge-default badge-pill">216</span>
    </div>
    <h6 class="mb-1">Description, UniCode, Price</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit ultrices purus, 
    sed semper turpis. Maecenas consequat cursus luctus. Aliquam dictum gravida risus eget elementum.
    Aliquam sed diam eget mauris congue dictum eu in ex.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name of Product</h5>
      <span class="badge badge-default badge-pill">216</span>
    </div>
    <h6 class="mb-1">Description, UniCode, Price</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit ultrices purus, 
    sed semper turpis. Maecenas consequat cursus luctus. Aliquam dictum gravida risus eget elementum.
    Aliquam sed diam eget mauris congue dictum eu in ex.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name of Product</h5>
      <span class="badge badge-default badge-pill">216</span>
    </div>
    <h6 class="mb-1">Description, UniCode, Price</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit ultrices purus, 
    sed semper turpis. Maecenas consequat cursus luctus. Aliquam dictum gravida risus eget elementum.
    Aliquam sed diam eget mauris congue dictum eu in ex.</p>
  </a>
</div>