
<% provide(:title, "Scan") %>

<div class="container">
    <!--<div class="row"><button class="main_button" id="scan_barcode" onClick="toggleDiv()">Scan Barcode</button></div>-->
    <!--<div class="row" id="hidden_row" style="display:none;">-->
    <!--    <button class="secondary_button">Inventory</button>-->
    <!--    <button class="secondary_button">Checkout</button>-->
    <!--</div>-->
    <!--<div class="row"><button class="main_button">View Database</button></div>-->
    <div id='barcode-scanner'></div>
</div>