<% provide(:title, "Scan") %>

<div class="container">
    <!--<div class="row"><button class="main_button" id="scan_barcode" onClick="toggleDiv()">Scan Barcode</button></div>-->
    <!--<div class="row" id="hidden_row" style="display:none;">-->
    <!--    <button class="secondary_button">Inventory</button>-->
    <!--    <button class="secondary_button">Checkout</button>-->
    <!--</div>-->
    <!--<div class="row"><button class="main_button">View Database</button></div>-->
    <div class="controls">
        <fieldset class="input-group">
            <input type="file" accept="image/*" capture="camera"/>
            <button>Rerun</button>
        </fieldset>
        <fieldset class="reader-config-group">
            <label>
                <span>Barcode-Type</span>
                <select name="decoder_readers">
                    <option value="upc">UPC</option>
                </select>
            </label>
            <label>
                <span>Resolution (long side)</span>
                <select name="input-stream_size">
                    <option value="320">320px</option>
                    <option value="640">640px</option>
                    <option selected="selected" value="800">800px</option>
                    <option value="1280">1280px</option>
                    <option value="1600">1600px</option>
                    <option value="1920">1920px</option>
                </select>
            </label>
            <label>
                <span>Patch-Size</span>
                <select name="locator_patch-size">
                    <option value="x-large">x-large</option>
                </select>
            </label>
            <label>
                <span>Half-Sample</span>
                <input type="checkbox" name="locator_half-sample" />
            </label>
            <label>
                <span>Single Channel</span>
                <input type="checkbox" name="input-stream_single-channel" />
            </label>
            <label>
                <span>Workers</span>
                <select name="numOfWorkers">
                    <option value="0">0</option>
                    <option selected="selected" value="1">1</option>
                </select>
            </label>
        </fieldset>
    </div>
    <div id="result_strip">
        <ul class="thumbnails"></ul>
    </div>
    <div id="interactive" class="viewport"></div>
    <div id="debug" class="detection"></div>
</div>