<% provide(:title, "Edit Product") %>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/"><%= @product.name %> (<%= @product.productID %>)</a>
  <span class="breadcrumb-item active">Edit Product</span>
</nav>

<%= render 'form', product: @product %>
